html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  padding: 2rem 0;
}

body {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: 'monospace', sans-serif;
  background-image: linear-gradient(to top, lightYellow, lavender);
}

.title {
  text-align: center;
  font-size: 5rem;
}

.chat-container {
  border: 1px solid #e1e1e1;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  height: 100%;
  max-height: 80rem;
  width: 95%;
  max-width: 40rem;
  margin: auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-form {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
}

.chat-form input {
  border-radius: 0.5rem;
  border: 1px solid #e1e1e1;
}

.chat-writer {
  flex: 1;
  padding: 1rem 0.5rem;
}

.chat-box {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  overflow: auto;
  padding: 1rem 0;

  /* align-items: flex-end; */
}

.chat-box p {
  width: 80%;
  background-color: #e1e1e1;
  margin: 0;
  padding: 1rem 0rem 1rem 2rem;
  white-space: pre-wrap;
  border-radius: 2rem 0rem 2rem 2rem;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.01);
}

.chat-box .chat-user {
  display: flex;
  justify-content: flex-end;
}
.chat-box .chat-user p {
  background-color: skyblue;
  text-align: right;
  padding: 1rem 2rem 1rem 0;
  border-radius: 0 2rem 2rem 2rem;
  width: 80%;
}
